/**
 * Базовые стили для всего сайта
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
}


/**
 * Другие стили
 */


/* ------------------------------------------------------------------------------------------- */

.main-content {
    display: block;
    position: relative;
    left: 150px;
    height: 100vh;
    margin-right: 190px;
}

.main-name {
    display: flex;
    position: absolute;
    font-size: 50px;
    font-weight: 900;
}

.main-content__inf {
    display: block;
    position: relative;
    top: 170px;
}

.text {
    font-size: 23px;
    font-weight: 400;
}

.main-content__channels {
    display: block;
    position: relative;
    top: 15rem;
}

.channels_list {
    display: block;
    position: absolute;
}

.channel-list__items {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    transform: scale(1);
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 25rem;
    height: 13.5rem;
}

.channel-list__items:hover {
    z-index: 999;
}

.item-1kanal {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 13.5rem;
    border: 1px solid black;
    background: linear-gradient(to right top, rgb(110, 10, 72), rgb(243, 0, 150))
}

.channel-list__items:hover .item-1kanal {
    transform: scale(1.1);
    background: #fff;
    opacity: 0.;
    transition: 0.1s;
}

.item-2kanal {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 13.5rem;
    border: 1px solid black;
    background: linear-gradient(to right top, rgb(139, 17, 17), rgb(233, 53, 53))
}

.channel-list__items:hover .item-2kanal {
    transform: scale(1.1);
    background: #fff;
    transition: 0.1s;
}

.item-3kanal {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 13.5rem;
    border: 1px solid black;
    background: linear-gradient(to right top, rgb(28, 80, 15), rgb(102, 255, 0))
}

.channel-list__items:hover .item-3kanal {
    transform: scale(1.1);
    background: #fff;
    transition: 0.1s;
}

.item-4kanal {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 13.5rem;
    border: 1px solid black;
    background: linear-gradient(to right top, rgb(9, 38, 202), rgb(77, 199, 255))
}

.channel-list__items:hover .item-4kanal {
    transform: scale(1.1);
    background: #fff;
    transition: 0.1s;
}

.item-5kanal {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 13.5rem;
    border: 1px solid black;
    background: linear-gradient(to right top, rgb(9, 9, 156), rgb(0, 153, 255))
}

.channel-list__items:hover .item-5kanal {
    transform: scale(1.1);
    background: #fff;
    transition: 0.1s;
}

.item-6kanal {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 13.5rem;
    border: 1px solid black;
    background: linear-gradient(to right top, rgb(4, 194, 252), rgb(4, 194, 252))
}

.channel-list__items:hover .item-6kanal {
    transform: scale(1.1);
    background: #fff;
    transition: 0.1s;
}

.item-7kanal {
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 13.5rem;
    border: 1px solid black;
    background: linear-gradient(to right top, rgb(112, 19, 19), red)
}

.channel-list__items:hover .item-7kanal {
    transform: scale(1.1);
    background: #fff;
    transition: 0.1s;
}

.items__icon {
    display: flex;
    position: absolute;
    height: 5.5rem;
    width: 5.5rem;
}

.main-content-second {
    display: block;
    position: relative;
    top: 20rem;
}